name: DevOps-Image-Processing-Pipeline

permissions:
  contents: write

on:
  push:
    paths:
      - "input/**"
      - "module/**"
      - "process_image.py"
      - "requirements.txt"
      - ".github/workflows/**"


jobs:
  process-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      
      - name: Test Script
        run: |
          python -m pytest test_script.py -v

      - name: Run Image Processing in Cloud
        run: |
          python process_image.py

      - name: Commit and Push Output Images
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add output/
          git commit -m "CI: Auto-process images from input folder" || echo "No changes to commit"
          git push
